.Octocat {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2rem;
}

.Octocat__img {
  max-width: 100%;
  max-height: 100%;
}

.Octocat__input {
  width: 20rem;
  padding: 0.5em 1em;
}
